@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background: rgb(196, 191, 191);
}

/* styling header */
header.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2px 50px;
  border: 1px solid red;
  width: 100%;
}

header.header .logo {
  color: #000;
  font-size: 35px;
  font-weight: 900;
  line-height: 40px;
}

header.header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

header.header nav ul li {
  background: rgb(173, 167, 167);
  text-align: center;
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.4s;
}

header.header nav ul li:hover {
  background: rgb(105, 103, 103);
}

header.header nav ul li:hover > a {
  color: rgba(243, 134, 32, 0.925);
}

header.header nav ul li a {
  color: #000;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}

section {
  display: flex;
  flex-direction: column;
  padding: 2px 50px;
}

.quote{
 text-align: center;
}

section h1{
  font-size: 40px;
  color: rgb(214, 107, 7);
}

section .text{
  font-size: 20px;
  line-height: 30px;
}

.calculator-grid-container {
  display: grid;
  margin-top: 3rem;
  justify-content: center;
  grid-template-columns: repeat(4, 4rem);
  grid-template-rows: minmax(4rem, auto) repeat(6, 3rem);
}

.calculator-grid-container > button {
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid rgb(197, 192, 192);
  outline: none;
  background-color: rgba(255, 255, 255, 0.9);
}

.calculator-grid-container > button.orange-color {
  background-color: rgba(255, 123, 0, 0.877);
}

.calculator-grid-container > button:hover,
.calculator-grid-container > button:focus {
  background-color: rgba(241, 193, 128, 0.9);
}

.span-two {
  grid-column: span 2;
}

.result {
  grid-column: 1 / -1;
  background-color: rgba(179, 174, 174, 0.925);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.result .number {
  color: white;
  font-size: 2rem;
}
